/*-------  ここから共通のCSS  --------*/
* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic Pro', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #888;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #323a45;
  transition: all .3s;
}

a:hover {
  color: #0dc0c0;
  text-decoration: none;
}

h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}

h4, h5 {
  color: #444;
  font-size: 18px;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  color: #555;
  padding-top: 70px;
  text-align: center;
}

.section-title h3 {
  font-size: 32px;
  font-weight: 300;
}

.gray-section {
  background: #f4f4f4;
}
/*-------  ここまで共通のCSS  --------*/

/*-------  ここからheader  --------*/
header {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  line-height: 50px;
  border-bottom: 1px solid #eee;
  z-index: 10;
}

.header-title {
  float: left;
}

.header-logo {
  color: #777;
  font-weight: 700;
  font-size: 22px;
  font-family: 'Dosis', sans-serif;
}

.header-menu-right {
  float: right;
}

.header-menu-right li {
  float: left;
}

.header-menu-right a {
  font-weight: 700;
  padding-left: 20px;
}

.header-menu-right a:hover {
  color: #0dc0c0;
  transition: color .3s;
}
/*-------  ここまでheader  --------*/

/*-------  ここからtop content  --------*/
.top-section {
  margin: 0 auto;
  text-align: center;
  color: #fff;
/*  background-image: url("https://s3-ap-northeast-1.amazonaws.com/progate/shared/images/lesson/html/practice/backgrounds/top.jpg"); */
  background-image: url("1.jpg");
  background-size: cover;
}

.inner-bg {
  padding-top: 210px;
  padding-bottom: 120px;
  background-color: rgba(0, 0, 0, 0.6);
}

.top-description {
  margin-bottom: 20px;
}

.top-description h2 {
  font-size: 48px;
  margin-bottom: 30px;
  font-weight: 400;
}

.top-description p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
}
/*-------  ここまでtop content  --------*/

/*-------  ここからcontact  --------*/
.contact-section {
/*  background: url("https://s3-ap-northeast-1.amazonaws.com/progate/shared/images/lesson/html/practice/backgrounds/contact.jpg"); 
  background-size: cover; */
  color: white;
}

.contact-section-inner {
/*  background-color: rgba(0, 0, 0, 0.6);*/
  background-color: #000000;
  padding-bottom: 70px;
}

.contact-section h3, .contact-section h4 {
  color: white;
}

.contact-section h4 {
  font-size: 22px;
  padding-bottom: 10px;
}

.contact-about {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.contact-about i {
  padding-right: 15px;
  font-size: 18px;
}

.contact-about p {
  margin: 0 0 24px;
  line-height: 24px;
}
/*-------  ここまでcontact  --------*/

.map-section {
  text-align: center;
  background: #000;
  padding-bottom: 20px;
}

#map {
  width: 100%;
  height: 400px;
}

/*-------  ここからfooter  --------*/
footer {
  text-align: center;
  padding: 40px 0;
  background: #222;
}
/*-------  ここまでfooter  --------*/
